html{
    margin: 0px 0px 0px 0px;
}
body{
    margin: 0px 0px 0px 0px;
}
p,h1{
    font-family: 'Metal Mania', cursive;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    position:fixed;
}
.nav ul{
    margin-left: auto;
    margin-top: 0px;
}
.nav ul li{
    display: inline;

}
.nav a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Metal Mania', cursive;
    font-size: 30px;
    align-self: center;
}
.nav a:hover{
    color:red;
}
.landing{
    width: 100%;
    height: 920px;
    background-color: black;
    background-image: url("slike/meg1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.ukratko{
    height: 500px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}

.cov1{
    width: 100%;
    height: 400px;
    background-image: url(slike/meg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#hc,#ha{
    text-align: center;
}
.clanovi{
    width: 960px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.clanovi div{
    width: 1090px;
    width: 200px;
    height: 320px;
    margin-top: 50px;
    margin-right: 50px;
    
}
.clan{
    width: 200px;
    height: 300px;
}
.albumi{
    width: 100%;
    height: 800px;
    margin-top:200px;
}
.album1 img{
    width: 200px;
    height: 200px;
}
.sl1{
    width: 200px;
    height: 200px;
    float: left;
}
.sl1 img{
    width: 200px;
    height: 200px;
    float: left;
}
.album2{
    width:100%;
    height:200px;
    border:1px solid black;
    margin-bottom: 100px;
    background-color: #161919;
    color: white;
}
.album2 a{
    color: white;
    font-family: 'Metal Mania', cursive;
    margin-right: 50px;
    text-decoration: none;
}
.album3{
    width:100%;
    height:200px;
    border:1px solid black;
    background-color: #161919;

}
div[name="dave"]{
    float: left;
}

div[name="dejv"]{
    float: left;
}
div[name="kiko"]{
    float: left;
}
div[name="dirk"]{
    float: left;
    margin-right: 0px;
}
div[name="2"]{
    background-image: url(slike/meg3.jpg);
}